*{
    margin: 0px;
    padding: 0px;
}
/* it was a header section */

.header-img{
    width: 340px;
    margin-top: 23px;
}
.header-container{
    display: flex;
    justify-content: space-around;
    height: 450px;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
.title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.descrption{
    color: rgba(18, 18, 18, 0.6);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    }
.primary-button{
        padding: 10px 20px;
        background-color: red;
        color: white;
        border: none;
        
    }
    /* it was a main section */
 

   

.deal-photo{
        width: 120px;
    }
.main-container{
    margin: 40px;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    background-color: rgb(185, 201, 78);
    border-radius: 5px;
    gap: 100px;
    

    }
#span{
    color: #f80000;
}   
/* it was a another main section */

.main-title{
    color: #0019fb;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    
}
.section-discription{
    padding: 5px;
    color: rgba(0, 0, 0, 0.821);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    }
.marketing-photo{
    display: flex;
    margin: 50px;
    padding: 20px;
    gap: 15px;

    
}

/* Our Featured Flowers section */

.featured-flower-section{
    
    margin: 50px;
    padding:0px 360px 0px 360px;
    display: flex;
    justify-content: space-evenly;
    

}
.flower{
    width: 200px;
    height: 240px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}
.flower-heading{
    padding: 10px;
    text-decoration: underline;

}
/* it was a background image section */

.background-container{
    height: 250px;
    margin: 30px 220px 50px 220px;
    background-image: url('../image/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    border: 2px solid rgb(251, 178, 190);
}
#bg-container{
    
    padding: 50px;
    text-align: center;
    
}
.background-title{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
   
}
.background-discription{
    margin: 10px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
 }
 .background-email{
    margin: 10px;
    width: 500px;
    height: 40px;
    
    
 }